<!--deseign a la mohamed ali-->
<!--deseign a la mohamed ali-->
<!--deseign a la mohamed ali-->
<!--deseign a la mohamed ali-->
<!--deseign a la mohamed ali-->
<!--deseign a la mohamed ali-->

<!--<div class="container-principal"
     fxLayout="column"
     fxLayoutAlign="start stretch">
  <div class="header"
       fxLayout="row"
       fxLayoutAlign="space-between center"
       fxFlex="8%">
    <span class="item-header burger-button" (click)="showNavBarXs=!showNavBarXs">Toggle</span>
    <span class="item-header logo" (click)="navhome()">COMO</span>
    <span class="item-header featurse-left">Left</span>

  </div>
  <div class="contentMiddle"
       fxLayout="row"
       fxLayout.xs="column"
       fxLayoutAlign="start stretch"
       fxFlex="80%">-->
    <!--[ngClass.xs]="{'contentMiddleXs': true}"-->
    <!--<div class="sid-bar"
         fxLayout="column"
         fxLayoutAlign="start center"
         fxLayoutGap="3px"
         fxFlex="20%"
         fxShow.xs="false">
      <span class="item-nav" (click)="navCheckList()">CheckList</span>
      <span class="item-nav" (click)="navhome()">home</span>
      <span class="item-nav">3</span>
      <span class="item-nav">4</span>
      <span class="item-nav">5</span>
    </div>


    <div class="nav-bar-xs"
         fxLayout="row"
         fxLayoutAlign="start stretch"
         fxLayoutGap="3px"
         fxShow="false"
         [fxShow.xs]="true">
      <a class="item-nav.xs" (click)="navCheckList()">CheckList</a>
      <a class="item-nav.xs">2</a>
      <a class="item-nav.xs">3</a>
      <a class="item-nav.xs">4</a>
      <a class="item-nav.xs">5</a>
    </div>
    <div class="contenu-router-outlet"
         fxFlex="80%"
         fxFlex.xs="100%">

      <ng-content></ng-content>
    </div>
  </div>-->
  <!--<div class="footer" fxFlex="10%"></div>-->
<!--</div>-->














<!--<div class="container-principal"
     fxLayout="column"
     fxLayoutAlign="start stretch">
    <div class="header"
         fxLayout="row"         
         fxLayoutAlign="space-between center"
         fxFlex="4vh">
      <span classe="header-Items header-left">left</span>
      <span classe="header-Items header-center">center</span>
      <span classe="header-Items header-right">rignt</span>
    </div>
    <div class="container-principal"
         fxLayout="row"         
         fxLayoutAlign="space-between stretch"
         fxLayout.sm="column"
         fxLayoutAlign.lt-sm="start stretch"
         fxLayoutGap.lt-sm="5px"
         fxFlex="86vh"
         >
      <div class="container-principal-left"
           fxFlex="10%"
           fxFlex.lt-sm="5%"></div>
      <div class="container-principal-center"
           fxFlex="70%"
           fxFlex.lt-sm="auto"></div>
      <div class="container-principal-right"
           fxFlex="10%"
           fxHidden.lt-sm="true"></div>
    </div>
    <div class="footer"
         fxFlex="10vh"></div>
  </div>-->


