
/*deseign a la mohamed alu*/
/*deseign a la mohamed alu*/
/*deseign a la mohamed alu*/
/*deseign a la mohamed alu*/
/*deseign a la mohamed alu*/

/*.container-principal{
    background-color: white;
    width: 100%;
    height: 100vh;
}

.header {
  background-color: orange;
  padding: 2rem;
}
.sid-bar {
  background-color: white;
  height: 80vh;
}
.item-header {
  height: 2rem;
  min-width: 4rem;
  background-color: #D89434;
  line-height: 2rem;
  text-align: center;
  border-radius:10px;
}
.contenu-router-outlet {
  background-color: white;
  border-style: double;
  margin: 2rem;
}
.item-nav.xs {
  background-color: #aaa;
  min-height: 1rem;
  min-width: 3rem;
  text-align: center;*/
  /*height: 2rem;*/
  /*line-height: 2rem;
  margin: 3px;
  border-radius: 10px;
}
.contentMiddleXs {
  width: 100%;
}
.item-nav {
  background-color: #aaa;
  min-height:2rem;
  min-width: 6rem;
  text-align: center;*/
  /*height: 2rem;*/
  /*line-height: 2rem;
  margin:3px;
  border-radius:10px
}
span:hover {
  cursor: pointer;
  background-color: #3e8e41;
  color: white;
}

.footer{
    background-color:#eee;
}*/

/** {
  margin: 0;
  padding: 0;
}

.container-principal {
  background-color: white;
  min-height: 100vh;
}

.header {
  background-color: orange;
  position: sticky;
  top: 0;
}

.container-principal-left {
  background-color: red;
}

.container-principal-center {
  background-color: red;
}

.container-principal-right {
  background-color: red;
}

div span {
  min-width: 6%;
  height: 2rem;
  background-color: #A67C41;
  text-align: center;
  line-height: 2rem;
  margin: 1%
}

.footer {
  background-color: black;
}
*/
